*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background: rgb(37, 35, 35);
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}
img {
    max-width: 100%;
    display: block;
}
article > * + * {
    margin-top: 1em;
}
input,
button,
textarea,
select {
  font: inherit;
}


ul[class],
ol[class] {
  list-style: none;
}
a {
    text-decoration: none;
    color:white;
}
header, main, footer, nav {
    display: block;
}

.container {
    max-width: 1200px;
    margin:  0 auto;
}